include "binds.kdl"

input {
  keyboard {
    xkb {
      layout "us"
      options "compose:ralt"
    }
    numlock
  }

  touchpad {
    dwt
    tap
    natural-scroll
    accel-speed 0.8
  }

  mouse {
    // off
    accel-speed 0.8
    // accel-profile "flat"
    // scroll-method "no-scroll"
  }

  trackpoint {
    // off
    // natural-scroll
    // accel-speed 0.2
    // accel-profile "flat"
    // scroll-method "on-button-down"
    // scroll-button 273
    // scroll-button-lock
    // middle-emulation
  }

  // warp-mouse-to-focus
  focus-follows-mouse max-scroll-amount="0%"
}

gestures {
  // This setting disables all hot corners globally.
  // By default, the top-left corner is active.
  hot-corners {
    off
  }
}

output "HDMI-A-1" {
  mode "1920x1080@60"
  scale 1.0
  transform "normal"
  position x=1280 y=0
}

layout {
  gaps 6
  center-focused-column "on-overflow"
  always-center-single-column
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
    // width 1
    // active-color "#8a9a7b"
    // inactive-color "#505050"
  }

  border {
    off
    width 2
    active-color "#ffc87f"
    inactive-color "#505050"
    urgent-color "#9b0000"
  }

  shadow {
    on
    softness 30
    spread 5
    offset x=0 y=5
    color "#0007"
  }
  background-color "transparent"

  struts {
    // left 64
    // right 64
    // top 64
    // bottom 64
  }
}

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
prefer-no-csd

animations {
  off
  // slowdown 0.2
}

window-rule {
    match is-focused=false
    opacity 0.7
}

window-rule {
    match is-focused=true
    opacity 0.9
}

window-rule {
    match app-id="emacs"
    match app-id="zen-beta"
    match app-id="code"
    match app-id="antigravity-ide"
    match app-id="neovide"
    match app-id="zed"
    open-maximized true
}

window-rule {
    match app-id="fuzzel"
    opacity 1.0
}

window-rule {
    match is-floating=true
    opacity 1.0
}

window-rule {
    match title="Picture in picture"
    open-floating true
    default-floating-position x=100 y=100 relative-to="bottom-right"
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
}

window-rule {
    match is-urgent=true
    open-on-workspace "active"
    open-focused true
}

spawn-at-startup "waybar"
spawn-sh-at-startup "awww-daemon"
spawn-sh-at-startup "swayosd-server"
spawn-sh-at-startup "eww daemon && eww open sysmon"

layer-rule {
  place-within-backdrop true
}
