/* Strip Stylix/GTK defaults from the root window */
* {
	all: unset;
}

window#sysmon {
	background-color: none;
	background: none;
}

window {
	background-color: none;
	background: none;
}

/* Your widget styling */
.sysbox {
	background-color: none;
	background: none;
	color: #a7c080;
	font-family: "JetBrainsMono Nerd Font", "JetBrainsMono", monospace;
	font-size: 13px;
	font-weight: bold;
	padding: 20px;
}

.header {
	color: #d3c6aa;
	margin-bottom: 5px;
}

.procs {
	white-space: pre;
}
